<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Created this site to practice Node.js development. It uses the mapbox and darksky API's to get you the weather forecast.</p>
        <img class="portrait" src="/img/art.png"><img>
    </div>

    {{>footer}}
</body>
</html>